<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Facial Analyzer</title>
    
</head>
<body onload="uploadVideo()">
    <h1>A DEEP LEARNING APPROACH FOR RECOGNIZING AGE EMOTION AND GENDER IN FACIAL EXPRESSIONS</h1>

    <div class="container">
        <form  action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">

            <label for="video_upload" class="upload-btn">Upload Video</label>
            <input id="video_upload" type="file" name="video" accept=".mp4, .avi">
            
            <input type="submit" value="Upload and Detect Emotions" class="detect-btn">
            
        </form>
    
    
        <div class="button-container">
            <button id="pause_button" onclick="pauseVideo()" disabled>Pause</button>
            <button id="play_button" onclick="resumeVideo()" disabled>Play</button>
        
        </div>
        
        <div class="video-container">
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Emotion Recognition" width="640" height="480">

        </div>
        
        <img id="default_image" src="{{ url_for('static', filename='css/pauseimage.png')}}" width="640" height="480" >
    </div>

    <script>
        function uploadVideo() {
            document.getElementById("pause_button").disabled = false;
            document.getElementById("play_button").disabled = false;
            document.getElementById("video_feed").style.display = "block";
            document.getElementById("default_image").style.display = "none";
            
        }

        function pauseVideo() {
            document.getElementById("video_feed").style.display = "none";
            document.getElementById("default_image").style.display = "block";
            fetch('/pause_detection');
        }

        function resumeVideo() {
            document.getElementById("video_feed").style.display = "block";
            document.getElementById("default_image").style.display = "none";
            fetch('/resume_detection');
        }
    </script>

</body>
</html>